<!-- Titlebar
================================================== -->
<div id="titlebar" class="property-titlebar margin-bottom-0">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="property-title" style="margin-left: 0px">
            <h2> title <span class="property-badge">transaction </span></h2>
            <span>
              <!--tqib-->
              <a  class="listing-address">
                <i class="fa fa-map-marker"></i>
                city.
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="container">
  <div class="row">
      <!-- Property Description -->
     <div class="col-md-8">
      <div class="property-description">     
        <div class="property-slider default">
          <a href="" data-background-image="assets/petit-bricolage.jpg" class="item mfp-gallery"></a>
        </div>
        <div class="property-slider-nav">
          <div class="item"><img src="assets/0.jpg" alt="">
          </div>
        </div>
      </div>
     </div>                 
  </div>
  <div class="row">
    <div class="col-md-8">
      <!-- Description -->
     
        <div class="show-more">
          <p>description </p>
          <div class="detail info">
            <ul>
              <li>Catégorie :
                <span style="color: blue">category </span>
              </li>
              <li>Type du contrat :
                <span style="color: blue">transaction</span>
              </li>
              <li>Prix négociable :
                <span style="color: blue">prix</span>
              </li>
            </ul>
          </div>
        </div>      
    </div>
  </div>  
</div>