<br>
  <div class="container">
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel-multi-item multi-animation" [type]="'carousel-multi-item'"
  [animation]="'slide'">
  <!--First slide-->
  <mdb-carousel-item>
    <div class="col-md-4">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(34).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
    <div class="col-md-4 clearfix d-none d-md-block pb-1">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(35).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
    <div class="col-md-4 clearfix d-none d-md-block pb-1">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(60).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
  </mdb-carousel-item>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-carousel-item>
    <div class="col-md-4 pb-1">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(47).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
    <div class="col-md-4 clearfix d-none d-md-block pb-1">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(48).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
    <div class="col-md-4 clearfix d-none d-md-block pb-1">
      <img src="https://mdbootstrap.com/img/Photos/Horizontal/Nature/4-col/img%20(53).jpg" alt="Card image cap"
        class="img-fluid">
    </div>
  </mdb-carousel-item>
  <!--/Second slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
</div>
  
<br>